
main{
  width: 75vw;
  margin: 25px auto;
  background-color: yellow;
  display: flow-root;
}

.col{
  width: 50%;
  background-color: red;
  float: left;
}
.exercise{
  background-color: white;
  margin: 0px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  margin-bottom: 15px;
  font-size: 2rem;
}

a:link, a:visited{
  color: whitesmoke;
}

a:link, a:hover{
  color: black;
}

@media screen and (max-width: 900px) {
  .col{
    width: 100%;
    margin-bottom: 50px;
  }
  header{
    width: 90vw;
  }
  main{
    width: 90vw;
  }
  h1{
    font-size: 3rem;
  }
}
