*{
  box-sizing: border-box;
}

body{
  margin: 0;

}

main{
  margin-left: 24px;
  width: 900px;
}

.board{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.red, .black{
  width: 100px;
  height: 100px;
  float: left;
}

.red{
  background-color: tomato;
}

.black{
  background-color: #333333;
}

.top{
  background-color: tomato;
  float: left;
  width: 800px;
  height: 10px;
  margin: 12px;
}

.columns{
  float: left;
  width: 240px;
  height: 600px;
  margin: 10px;
  background-color: tomato;
}

.bottom{
  background-color: tomato;
  width: 800px;
  height: 100px;
}

.headline{
  width: 800px;
  height: 100px;
  border: 12px;
  background-color: tomato;
}

.box{
  background-color: tomato;
  width: 600px;
  height: 400px;
  margin-right: 8px;
  margin-top: 100px;
  float: left;
}

.pic{
  background-color: tomato;
  width: 200px;
  height: 250px;
  margin-top: 100px;
  float: left;
}

.bottom{
  background-color: tomato;
  width: 600px;
  height: 100px;
  margin-top: 12px;
  float: left;
}

header{
  float: left;
  width: 800px;
  height: 100px;
  background-color: tomato;
}

footer{
  float: left;
  width: 800px;
  height: 100px;
  background-color: tomato;
}
