* {
  box-sizing: border-box;
}
body{
  margin: 0;
  overflow-x: hidden;
}
main{
  width: 130vw;
  margin: -50px -15vw;
}
.shape1{
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left;
  opacity: 0.5;
  border-radius: 50%;
}
.shape2{
  background-color: blue;
  width: 200px;
  height: 200px;
  margin: 10px;
  float: left;
  opacity: 0.5;
  transform: rotate(20deg);
}
.shape3{
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin: 10px 12px;
  float: left;
  opacity: 0.5;
  transform: rotate(-20deg);
}
.shape4{
  background-color: black;
  width: 100px;
  height: 500px;
  margin: 10px 25px;
  float: right;
  transform: rotate(45deg);
}

.shape5
{
  background-color: purple;
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
  border-radius: 50%;
  transform: rotate(-30deg);
}

.shape6{
  background-color: blue;
  width: 50px;
  height: 50px;
  margin: 25px;
  float: left;
  border-radius: 50%;
  transform: rotate(-30deg);
}
.shape7
{
  background-color: grey;
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
}
.shape8{
  background-color: green;
  width: 75px;
  height: 500px;
  margin: 1px;
  opacity: 0.5;
  float: right;
}
.shape9
{
  background-color: yellow;
  width: 5px;
  height: 500px;
  margin: 1px;
  opacity: 0.5;
  float: right;
}
.shape10{
  background-color: yellow;
  width: 1920px;
  height: 75px;
  margin: 1px;
  opacity: 0.8px;
  float: right;
}
.shape11{
  background-color: black;
  width: 500px;
  height: 500px;
  margin: 1px 200px;
  border-radius: 50%
}
.shape12{
  background-color: black;
  width: 500px;
  height: 500px;
  margin: 1px 200px;
  float: right;
  border-radius: 50%;
}
.shape13{
  background-color: black;
  width: 1080px;
  height: 50px;
  margin: 0px 500px 0px 500px;
}
