body{
  font-family: 'Oswald', sans-serif;
  background-color: rgb(71, 74, 72);
  color: rgb(214, 208, 208);
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu li {
  display: inline-block;
}

.navigation{
  background-color: rgb(117, 15, 6);
  height: 80px;
  width: 100%;
  font-size: 40px;
  word-spacing: 200px;
  text-align: center;
}

.divider{
  background-color: rgb(214, 208, 208);
  width: 100%;
  height: 12px;
  margin-top: 20px;
}

.content{
  background-color: rgb(117, 15, 6);
  border-color: rgb(214, 208, 208);
  border-width: medium;
}

.pic{
  height: 200px;
  width: 300px;
  background-color: whitesmoke;
  float: right;
  margin-right: 35px;
}

.item {
  width: 100%;
  height: 260px;
  margin-left: 25px;
  font-size: 18px;

}
